
  h1 {
    font-style: italic;
  }

  #secciondatos {
    width: 50%;
    margin: 0 auto;
  }

  h2 {
    font-family: 'Open Sans', 'sans-serif';
  }
  p {
    text-align: center;
  }
  span {
    text-align: center;
  }
  #seccionredes {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }

  a {
    font-weight: 600;
  }

  
  
.seccion {
    width: 50%;
    margin: 0 auto; 
}

#seccionhabilidades table td {
    text-align: center;
}

#seccionhabilidades table {
    margin: 0 auto;
}

.seccion {
    background-color: white;
    padding: 2%;
    margin-top: 2% !important ;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

section h2 {
    color: #0bcc7c;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

#secciondatos p {
    font-size: 1.4rem;
    margin-top: 6%;
    color: #373b41;
}

#seccioncontactenos {
  display: grid;
  grid-template-areas:  "area1 area1 area1  area1"
                        "area2 area2 area3  area3"
                        "area4 area4 area5  area5";
}

#uno {
  background-color: chartreuse;
  grid-area: area1;
}

#dos {
  background-color: cadetblue;
  grid-area: area2;
}

#tres {
  background-color: coral;
  grid-area: area3;
}

#cuatro {
  background-color: darkgray;
  grid-area: area4;
}

#cinco {
  background-color: lightgreen;
  grid-area: area5;
}

#seis {
  background-color: cyan;
  grid-area: area6;
}

.contectenos {
  padding: 5%;
  font-size: 2rem;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.address {
  justify-content: space-around;
}

#map {
  width: 100%;
  height: 100%;
}